.contact-wrap {
  padding: 80px 80px 60px;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(30, 30, 30, 0.1);
  position: relative;
  z-index: 1;
  margin-bottom: -160px;
  border-radius: 10px;
  margin-top: 100px;
}

.contact-content {
  border-right: 1px solid rgba(4, 0, 23, 0.14);
}

.contact-title {
  font-size: 32px;
}

.contact-form-input {
  position: relative;
  z-index: auto;
}
.contact-form-input input, .contact-form-input textarea {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border: none;
  border-bottom: 1px solid rgba(4, 0, 23, 0.14);
  padding: 0 30px;
  color: rgba(4, 0, 23, 0.6);
  font-size: 16px;
}
.contact-form-input input::-webkit-input-placeholder, .contact-form-input textarea::-webkit-input-placeholder {
  color: rgba(4, 0, 23, 0.6);
  font-size: 16px;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.contact-form-input input:-moz-placeholder, .contact-form-input textarea:-moz-placeholder {
  color: rgba(4, 0, 23, 0.6);
  font-size: 16px;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.contact-form-input input::-moz-placeholder, .contact-form-input textarea::-moz-placeholder {
  color: rgba(4, 0, 23, 0.6);
  font-size: 16px;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.contact-form-input input:-ms-input-placeholder, .contact-form-input textarea:-ms-input-placeholder {
  color: rgba(4, 0, 23, 0.6);
  font-size: 16px;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.contact-form-input .inner-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: rgba(4, 0, 23, 0.6);
}
.contact-form-input .inner-icon-select {
  top: 30px;
  z-index: 99;
}
.contact-form-input textarea {
  height: 95px;
  line-height: 22px;
  padding-top: 20px;
}
.contact-form-textarea .inner-icon {
  top: 17px;
  transform: translateY(0);
}
.contact-form-submit {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-form-condition .condition_label {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
}
.contact-form-condition .condition_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contact-form-condition .check_mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid rgba(30, 30, 30, 0.2);
  border-radius: 2px;
}



.contact-info-item {
  margin-bottom: 20px;
}

.contact-info-item p {
  margin-bottom: 0;
  color: var(--clr-body-heading);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.contact-info-item a {
  font-size: 16px;
  display: block;
  color: var(--clr-body-heading);
  font-weight: 500;
}
.contact-info-item a:hover {
  color: var(--clr-theme-primary);
}
